In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os

In [11]:
movies = pd.read_csv('10000 Movies Data')
credits= pd.read_csv('10000 Credits Data')

In [14]:
movies.head(5)

,Unnamed: 0,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927
4,4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382

In [15]:
credits.head(5)

,Unnamed: 0,Movie_id,title,Cast,Crew
0,0,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,2,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,4,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [16]:
movies.shape

(9980, 13)

In [17]:
credits.shape

(9980, 5)

In [18]:
movies = movies.merge(credits, on = 'title')

In [19]:
movies.head(2)

,Unnamed: 0_x,Movie_id_x,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,Unnamed: 0_y,Movie_id_y,Cast,Crew
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,0,238,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542,1,278,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."

In [20]:
movies.shape

(10710, 17)

In [23]:
movies = movies[['Movie_id_x','title','overview','Genres','Keywords','Cast','Crew']]

In [24]:
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[],"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...","[{'id': 818, 'name': 'based on novel or book'}...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [25]:
movies.shape

(10710, 7)

In [26]:
movies.isnull().sum()

Movie_id_x    0
title         0
overview      6
Genres        0
Keywords      0
Cast          0
Crew          0
dtype: int64

In [27]:
movies.dropna(inplace=True)

C:\Users\shilp\AppData\Local\Temp\ipykernel_12624\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [28]:
movies.duplicated().sum()

0

In [30]:
movies.iloc[0]['Genres']

"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}]"

In [31]:
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [32]:
movies['Genres'] = movies['Genres'].apply(convert)

C:\Users\shilp\AppData\Local\Temp\ipykernel_12624\4176851262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'] = movies['Genres'].apply(convert)

In [33]:
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[{'id': 818, 'name': 'based on novel or book'}...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [35]:
movies.iloc[0]['Keywords']

"[{'id': 131, 'name': 'italy'}, {'id': 697, 'name': 'loss of loved one'}, {'id': 699, 'name': 'love at first sight'}, {'id': 818, 'name': 'based on novel or book'}, {'id': 1295, 'name': 'europe'}, {'id': 1715, 'name': 'symbolism'}, {'id': 4677, 'name': 'patriarch'}, {'id': 10291, 'name': 'organized crime'}, {'id': 10391, 'name': 'mafia'}, {'id': 10909, 'name': 'lawyer'}, {'id': 11001, 'name': 'religion'}, {'id': 15095, 'name': 'revenge motive'}, {'id': 33421, 'name': 'crime family'}, {'id': 155538, 'name': 'sicilian mafia'}, {'id': 156043, 'name': 'religious hypocrisy'}, {'id': 163656, 'name': 'gun violence'}, {'id': 165725, 'name': 'rise to power'}, {'id': 180173, 'name': 'dead horse'}, {'id': 181858, 'name': 'gang violence'}, {'id': 207883, 'name': '1940s'}, {'id': 208611, 'name': '1950s'}, {'id': 257630, 'name': 'mafia war'}, {'id': 295351, 'name': 'part of trilogy'}]"

In [37]:
movies['Keywords'] = movies['Keywords'].apply(convert)
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [39]:
movies.iloc[0]['Cast']

'[{\'adult\': False, \'gender\': 2, \'id\': 3084, \'known_for_department\': \'Acting\', \'name\': \'Marlon Brando\', \'original_name\': \'Marlon Brando\', \'popularity\': 15.274, \'profile_path\': \'/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg\', \'cast_id\': 5, \'character\': \'Don Vito Corleone\', \'credit_id\': \'52fe422bc3a36847f8009357\', \'order\': 0}, {\'adult\': False, \'gender\': 2, \'id\': 1158, \'known_for_department\': \'Acting\', \'name\': \'Al Pacino\', \'original_name\': \'Al Pacino\', \'popularity\': 32.169, \'profile_path\': \'/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg\', \'cast_id\': 6, \'character\': \'Don Michael Corleone\', \'credit_id\': \'52fe422bc3a36847f800935b\', \'order\': 1}, {\'adult\': False, \'gender\': 2, \'id\': 3085, \'known_for_department\': \'Acting\', \'name\': \'James Caan\', \'original_name\': \'James Caan\', \'popularity\': 23.916, \'profile_path\': \'/bGyOCCOIgcIyKjOGLoXoyp0XWHf.jpg\', \'cast_id\': 7, \'character\': "Santino \'Sonny\' Corleone", \'credit_id\': \'52fe422bc3a36847f800935f\', \'order\': 2}, {\'adult\': False, \'gender\': 2, \'id\': 3087, \'known_for_department\': \'Acting\', \'name\': \'Robert Duvall\', \'original_name\': \'Robert Duvall\', \'popularity\': 24.079, \'profile_path\': \'/ybMmK25h4IVtfE7qrnlVp47RQlh.jpg\', \'cast_id\': 9, \'character\': \'Tom Hagen\', \'credit_id\': \'52fe422bc3a36847f8009367\', \'order\': 3}, {\'adult\': False, \'gender\': 0, \'id\': 3086, \'known_for_department\': \'Acting\', \'name\': \'Richard S. Castellano\', \'original_name\': \'Richard S. Castellano\', \'popularity\': 10.388, \'profile_path\': \'/1vr75BdHWret81vuSJ3ugiCBkxw.jpg\', \'cast_id\': 8, \'character\': \'Pete Clemenza\', \'credit_id\': \'52fe422bc3a36847f8009363\', \'order\': 4}, {\'adult\': False, \'gender\': 1, \'id\': 3092, \'known_for_department\': \'Acting\', \'name\': \'Diane Keaton\', \'original_name\': \'Diane Keaton\', \'popularity\': 21.404, \'profile_path\': \'/7gEdH5vGwpUpogscTb2JivnoRBb.jpg\', \'cast_id\': 13, \'character\': \'Kay Adams\', \'credit_id\': \'52fe422bc3a36847f8009377\', \'order\': 5}, {\'adult\': False, \'gender\': 1, \'id\': 3094, \'known_for_department\': \'Acting\', \'name\': \'Talia Shire\', \'original_name\': \'Talia Shire\', \'popularity\': 14.677, \'profile_path\': \'/due9MtmbvCMDd1aNveuMyjsaZ8W.jpg\', \'cast_id\': 15, \'character\': "Constanzia \'Connie\' Corleone-Rizzi", \'credit_id\': \'52fe422bc3a36847f800937f\', \'order\': 6}, {\'adult\': False, \'gender\': 2, \'id\': 3095, \'known_for_department\': \'Acting\', \'name\': \'Gianni Russo\', \'original_name\': \'Gianni Russo\', \'popularity\': 8.099, \'profile_path\': \'/5fjg2WPvuk1NvUpLyQ7aMJqOqy.jpg\', \'cast_id\': 16, \'character\': \'Carlo Rizzi\', \'credit_id\': \'52fe422bc3a36847f8009383\', \'order\': 7}, {\'adult\': False, \'gender\': 2, \'id\': 3088, \'known_for_department\': \'Acting\', \'name\': \'Sterling Hayden\', \'original_name\': \'Sterling Hayden\', \'popularity\': 12.446, \'profile_path\': \'/j1ExJbuBqBa6WEhPVW4J7YGFBWs.jpg\', \'cast_id\': 10, \'character\': \'Capt. Mark McCluskey\', \'credit_id\': \'52fe422bc3a36847f800936b\', \'order\': 8}, {\'adult\': False, \'gender\': 2, \'id\': 3091, \'known_for_department\': \'Acting\', \'name\': \'Al Lettieri\', \'original_name\': \'Al Lettieri\', \'popularity\': 8.127, \'profile_path\': \'/fE5mEWPkkVJlCji0EoKht8PYw89.jpg\', \'cast_id\': 12, \'character\': "Virgil \'The Turk\' Sollozzo", \'credit_id\': \'52fe422bc3a36847f8009373\', \'order\': 9}, {\'adult\': False, \'gender\': 2, \'id\': 3093, \'known_for_department\': \'Acting\', \'name\': \'Abe Vigoda\', \'original_name\': \'Abe Vigoda\', \'popularity\': 6.822, \'profile_path\': \'/luWKPNb58IgJ2ovrtgPAzHGLLYL.jpg\', \'cast_id\': 14, \'character\': "Salvatore \'Sal\' Tessio", \'credit_id\': \'52fe422bc3a36847f800937b\', \'order\': 10}, {\'adult\': False, \'gender\': 2, \'id\': 3096, \'known_for_department\': \'Acting\', \'name\': \'John Cazale\', \'original_name\': \'John Cazale\', \'popularity\': 10.158, \'profile_path\': \'/tRBImYIYk9tuR4fjJc8gHXC8ENj.jpg\', \'cast_id\': 17, \'character\': "Frederico \'Fredo\' Corleone", \'credit_id\': \'52fe422bc3a36847f8009387\', \'order\': 11}, {\'adult\': False, \'gender\': 2, \'id\': 3090, \'known_for_department\': \'Acting\', \'name\': \'Richard Conte\', \'original_name\': \'Richard Conte\', \'popularity\': 9.971, \'profile_path\': \'/pTTzNets0bgWAqx18D7by0hWUea.jpg\', \'cast_id\': 11, \'character\': \'Don Emilio Barzini\', \'credit_id\': \'52fe422bc3a36847f800936f\', \'order\': 12}, {\'adult\': False, \'gender\': 2, \'id\': 3142, \'known_for_department\': \'Acting\', \'name\': \'John Marley\', \'original_name\': \'John Marley\', \'popularity\': 2.497, \'profile_path\': None, \'cast_id\': 33, \'character\': \'Jack Woltz\', \'credit_id\': \'52fe422bc3a36847f800938b\', \'order\': 13}, {\'adult\': False, \'gender\': 2, \'id\': 3143, \'known_for_department\': \'Acting\', \'name\': \'Rudy Bond\', \'original_name\': \'Rudy Bond\', \'popularity\': 1.948, \'profile_path\': \'/kP77m6ot9dfOR2V3ykbyOAx2diK.jpg\', \'cast_id\': 34, \'character\': \'Carmine Cuneo\', \'credit_id\': \'52fe422bc3a36847f800938f\', \'order\': 14}, {\'adult\': False, \'gender\': 2, \'id\': 3144, \'known_for_department\': \'Acting\', \'name\': \'Al Martino\', \'original_name\': \'Al Martino\', \'popularity\': 2.803, \'profile_path\': \'/9luOyyiqWFNQgSOSStH66LTWZ3p.jpg\', \'cast_id\': 35, \'character\': \'Johnny Fontane\', \'credit_id\': \'52fe422bc3a36847f8009393\', \'order\': 15}, {\'adult\': False, \'gender\': 1, \'id\': 933716, \'known_for_department\': \'Acting\', \'name\': \'Morgana King\', \'original_name\': \'Morgana King\', \'popularity\': 1.88, \'profile_path\': \'/zPsFAqH4NXD7rMWl2Kj3rEyGrKj.jpg\', \'cast_id\': 42, \'character\': "Carmela \'Mama\' Corleone", \'credit_id\': \'52fe422bc3a36847f80093a7\', \'order\': 16}, {\'adult\': False, \'gender\': 2, \'id\': 106811, \'known_for_department\': \'Acting\', \'name\': \'Lenny Montana\', \'original_name\': \'Lenny Montana\', \'popularity\': 3.293, \'profile_path\': \'/3R52Zh3MBCaSPqmcyWcD1Y0N4wo.jpg\', \'cast_id\': 45, \'character\': \'Luca Brasi\', \'credit_id\': \'52fe422bc3a36847f80093b3\', \'order\': 17}, {\'adult\': False, \'gender\': 2, \'id\': 99724, \'known_for_department\': \'Acting\', \'name\': \'John Martino\', \'original_name\': \'John Martino\', \'popularity\': 1.327, \'profile_path\': \'/3c8BOgJ8UdHi5x5BS3lYnFngxB5.jpg\', \'cast_id\': 47, \'character\': \'Paulie Gatto\', \'credit_id\': \'52fe422bc3a36847f80093bb\', \'order\': 18}, {\'adult\': False, \'gender\': 2, \'id\': 20752, \'known_for_department\': \'Acting\', \'name\': \'Alex Rocco\', \'original_name\': \'Alex Rocco\', \'popularity\': 5.939, \'profile_path\': \'/u2JStL4Pk9Huq1xmrjqezfysivt.jpg\', \'cast_id\': 41, \'character\': \'Moe Greene\', \'credit_id\': \'52fe422bc3a36847f80093a3\', \'order\': 19}, {\'adult\': False, \'gender\': 0, \'id\': 1195877, \'known_for_department\': \'Acting\', \'name\': \'Salvatore Corsitto\', \'original_name\': \'Salvatore Corsitto\', \'popularity\': 3.583, \'profile_path\': \'/79OfgwtdP5qsR1UX6ERkrdmRT8c.jpg\', \'cast_id\': 46, \'character\': \'Amerigo Bonasera\', \'credit_id\': \'52fe422bc3a36847f80093b7\', \'order\': 20}, {\'adult\': False, \'gender\': 2, \'id\': 3414, \'known_for_department\': \'Acting\', \'name\': \'Tony Giorgio\', \'original_name\': \'Tony Giorgio\', \'popularity\': 2.891, \'profile_path\': \'/1uhgwgjoX7WaakEOBmtBRJKtgEB.jpg\', \'cast_id\': 38, \'character\': \'Bruno Tattaglia\', \'credit_id\': \'52fe422bc3a36847f800939f\', \'order\': 21}, {\'adult\': False, \'gender\': 2, \'id\': 3413, \'known_for_department\': \'Acting\', \'name\': \'Victor Rendina\', \'original_name\': \'Victor Rendina\', \'popularity\': 3.206, \'profile_path\': \'/vuNdsjDpgom80WBdB2WBTWuEIuM.jpg\', \'cast_id\': 37, \'character\': \'Philip Tattaglia\', \'credit_id\': \'52fe422bc3a36847f800939b\', \'order\': 22}, {\'adult\': False, \'gender\': 1, \'id\': 3145, \'known_for_department\': \'Acting\', \'name\': \'Simonetta Stefanelli\', \'original_name\': \'Simonetta Stefanelli\', \'popularity\': 9.643, \'profile_path\': \'/sVDrhgxuE6SHnj7q07OG6ywPUYR.jpg\', \'cast_id\': 36, \'character\': \'Apollonia Vitelli-Corleone\', \'credit_id\': \'52fe422bc3a36847f8009397\', \'order\': 23}, {\'adult\': False, \'gender\': 2, \'id\': 119431, \'known_for_department\': \'Acting\', \'name\': \'Saro Urzì\', \'original_name\': \'Saro Urzì\', \'popularity\': 1.858, \'profile_path\': \'/nPJytCpcNdG5ssPoKeEvxM6xifx.jpg\', \'cast_id\': 48, \'character\': \'Mr. Vitelli\', \'credit_id\': \'52fe422bc3a36847f80093bf\', \'order\': 24}, {\'adult\': False, \'gender\': 1, \'id\': 1769, \'known_for_department\': \'Directing\', \'name\': \'Sofia Coppola\', \'original_name\': \'Sofia Coppola\', \'popularity\': 8.353, \'profile_path\': \'/dzHC2LxmarkBxWLhjp2DRa5oCev.jpg\', \'cast_id\': 43, \'character\': \'Michael Francis Rizzi\', \'credit_id\': \'52fe422bc3a36847f80093ab\', \'order\': 25}, {\'adult\': False, \'gender\': 2, \'id\': 20973, \'known_for_department\': \'Acting\', \'name\': \'Louis Guss\', \'original_name\': \'Louis Guss\', \'popularity\': 3.076, \'profile_path\': \'/hz5Akuh4QcqitlifYwDiZ9ut6Tr.jpg\', \'cast_id\': 44, \'character\': \'Don Zaluchi\', \'credit_id\': \'52fe422bc3a36847f80093af\', \'order\': 26}, {\'adult\': False, \'gender\': 2, \'id\': 3174, \'known_for_department\': \'Acting\', \'name\': \'Richard Bright\', \'original_name\': \'Richard Bright\', \'popularity\': 6.476, \'profile_path\': \'/potMaJ2u5PRjXZb7qF9lSW1ldNZ.jpg\', \'cast_id\': 70, \'character\': \'Neri\', \'credit_id\': \'55be4cdbc3a3683921003065\', \'order\': 27}, {\'adult\': False, \'gender\': 2, \'id\': 82779, \'known_for_department\': \'Acting\', \'name\': \'Vito Scotti\', \'original_name\': \'Vito Scotti\', \'popularity\': 5.8, \'profile_path\': \'/zDGtXkASxpo3DzMNz6OI3NOp9v0.jpg\', \'cast_id\': 71, \'character\': \'Nazorine\', \'credit_id\': \'55be4cff9251413e49004a59\', \'order\': 28}, {\'adult\': False, \'gender\': 1, \'id\': 982089, \'known_for_department\': \'Acting\', \'name\': \'Tere Livrano\', \'original_name\': \'Tere Livrano\', \'popularity\': 2.217, \'profile_path\': \'/eBoC3425jmwRlsT2W8qUDsNwVXB.jpg\', \'cast_id\': 72, \'character\': \'Theresa Hagen\', \'credit_id\': \'55be4d40c3a368392100306d\', \'order\': 29}, {\'adult\': False, \'gender\': 1, \'id\': 160728, \'known_for_department\': \'Acting\', \'name\': \'Julie Gregg\', \'original_name\': \'Julie Gregg\', \'popularity\': 2.669, \'profile_path\': \'/8Kx71BnZNtpzb86jH7fcArWhJBh.jpg\', \'cast_id\': 77, \'character\': "Sandrinella \'Sandra\' Corleone", \'credit_id\': \'55ee4ac0c3a3686f170063c4\', \'order\': 30}, {\'adult\': False, \'gender\': 2, \'id\': 27647, \'known_for_department\': \'Acting\', \'name\': \'Angelo Infanti\', \'original_name\': \'Angelo Infanti\', \'popularity\': 4.573, \'profile_path\': \'/dkRVpiDj9YyiuM15XZKT11zZBIR.jpg\', \'cast_id\': 74, \'character\': \'Fabrizio\', \'credit_id\': \'55be4dffc3a368652600471c\', \'order\': 31}, {\'adult\': False, \'gender\': 2, \'id\': 24604, \'known_for_department\': \'Acting\', \'name\': \'Corrado Gaipa\', \'original_name\': \'Corrado Gaipa\', \'popularity\': 2.558, \'profile_path\': \'/7vR2BOdVw9FwJKjgpcisjKEytnL.jpg\', \'cast_id\': 75, \'character\': \'Don Tommasino\', \'credit_id\': \'55be4e2fc3a3686534005572\', \'order\': 32}, {\'adult\': False, \'gender\': 2, \'id\': 44860, \'known_for_department\': \'Acting\', \'name\': \'Franco Citti\', \'original_name\': \'Franco Citti\', \'popularity\': 2.498, \'profile_path\': \'/mttQPjOHaql4RKsfYriUA7HuROE.jpg\', \'cast_id\': 76, \'character\': \'Calò\', \'credit_id\': \'55be4e5bc3a3683921003083\', \'order\': 33}, {\'adult\': False, \'gender\': 0, \'id\': 138211, \'known_for_department\': \'Acting\', \'name\': \'Gabriele Torrei\', \'original_name\': \'Gabriele Torrei\', \'popularity\': 2.653, \'profile_path\': \'/x3KeYWTWX5SqZ3NuQGiWiadO4DI.jpg\', \'cast_id\': 49, \'character\': \'Enzo the Baker (uncredited)\', \'credit_id\': \'52fe422bc3a36847f80093c3\', \'order\': 34}, {\'adult\': False, \'gender\': 2, \'id\': 55672, \'known_for_department\': \'Acting\', \'name\': \'Tony King\', \'original_name\': \'Tony King\', \'popularity\': 3.56, \'profile_path\': \'/hOVVHEyc6euuuRhCLo6Q5YE4lLz.jpg\', \'cast_id\': 69, \'character\': \'Tony the Stablehand (uncredited)\', \'credit_id\': \'54de315fc3a3685446001351\', \'order\': 35}, {\'adult\': False, \'gender\': 0, \'id\': 178006, \'known_for_department\': \'Acting\', \'name\': \'Max Brandt\', \'original_name\': \'Max Brandt\', \'popularity\': 0.991, \'profile_path\': None, \'cast_id\': 78, \'character\': \'Extra in Furniture-Moving Scene (uncredited)\', \'credit_id\': \'55f1b3c992514167010020a7\', \'order\': 36}, {\'adult\': False, \'gender\': 2, \'id\': 2872, \'known_for_department\': \'Sound\', \'name\': \'Carmine Coppola\', \'original_name\': \'Carmine Coppola\', \'popularity\': 2.829, \'profile_path\': \'/iURpKXIgdtQoVCBQ8GKGvb0Qw5z.jpg\', \'cast_id\': 79, \'character\': \'Piano Player in Montage (uncredited)\', \'credit_id\': \'55f1b3ffc3a368230a00239f\', \'order\': 37}, {\'adult\': False, \'gender\': 2, \'id\': 38803, \'known_for_department\': \'Writing\', \'name\': \'Roman Coppola\', \'original_name\': \'Roman Coppola\', \'popularity\': 4.894, \'profile_path\': \'/rKamKkx78qjZTfvqi2OWCo5p6x5.jpg\', \'cast_id\': 80, \'character\': \'Boy on Street Who Attended Funeral (uncredited)\', \'credit_id\': \'55f1b452c3a36822f5002395\', \'order\': 38}, {\'adult\': False, \'gender\': 0, \'id\': 1209294, \'known_for_department\': \'Acting\', \'name\': \'Don Costello\', \'original_name\': \'Don Costello\', \'popularity\': 1.38, \'profile_path\': None, \'cast_id\': 81, \'character\': \'Don Victor Stracci (uncredited)\', \'credit_id\': \'55f1b4bac3a3682303002284\', \'order\': 39}, {\'adult\': False, \'gender\': 2, \'id\': 1394703, \'known_for_department\': \'Acting\', \'name\': \'Robert Dahdah\', \'original_name\': \'Robert Dahdah\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 82, \'character\': \'Crowd (uncredited)\', \'credit_id\': \'55f1b4de925141670d002392\', \'order\': 40}, {\'adult\': False, \'gender\': 2, \'id\': 2870, \'known_for_department\': \'Production\', \'name\': \'Gray Frederickson\', \'original_name\': \'Gray Frederickson\', \'popularity\': 3.018, \'profile_path\': None, \'cast_id\': 83, \'character\': "Cowboy on the Set at Woltz\'s Studio (uncredited)", \'credit_id\': \'55f1b507925141670d00239a\', \'order\': 41}, {\'adult\': False, \'gender\': 2, \'id\': 160621, \'known_for_department\': \'Acting\', \'name\': \'Ron Gilbert\', \'original_name\': \'Ron Gilbert\', \'popularity\': 0.783, \'profile_path\': \'/qrY6w2k0YpuMB2yTCOv6cxeQtmw.jpg\', \'cast_id\': 84, \'character\': \'Usher in Bridal Party (uncredited)\', \'credit_id\': \'55f1b52f9251416711002211\', \'order\': 42}, {\'adult\': False, \'gender\': 2, \'id\': 1233541, \'known_for_department\': \'Acting\', \'name\': \'Sonny Grosso\', \'original_name\': \'Sonny Grosso\', \'popularity\': 2.238, \'profile_path\': None, \'cast_id\': 87, \'character\': \'Cop Outside Hospital (uncredited)\', \'credit_id\': \'55f1b5bb925141670100210a\', \'order\': 43}, {\'adult\': False, \'gender\': 2, \'id\': 1503036, \'known_for_department\': \'Acting\', \'name\': \'Joe Lo Grippo\', \'original_name\': \'Joe Lo Grippo\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 86, \'character\': "Sonny\'s Bodyguard (uncredited)", \'credit_id\': \'55f1b59dc3a3683bec00231e\', \'order\': 44}, {\'adult\': False, \'gender\': 2, \'id\': 1068099, \'known_for_department\': \'Acting\', \'name\': \'Randy Jurgensen\', \'original_name\': \'Randy Jurgensen\', \'popularity\': 0.786, \'profile_path\': \'/xRoN79wRLndTMCJoaBSsdjQVIzI.jpg\', \'cast_id\': 89, \'character\': "Sonny\'s Killer #1 (uncredited)", \'credit_id\': \'55f1b61ec3a3683bec002335\', \'order\': 45}, {\'adult\': False, \'gender\': 2, \'id\': 61241, \'known_for_department\': \'Acting\', \'name\': \'Tony Lip\', \'original_name\': \'Tony Lip\', \'popularity\': 7.085, \'profile_path\': \'/6xz6XmjgiCCOm067OzWYziD4Mxa.jpg\', \'cast_id\': 90, \'character\': \'Wedding Guest (uncredited)\', \'credit_id\': \'55f1b685c3a36823070023b6\', \'order\': 46}, {\'adult\': False, \'gender\': 2, \'id\': 106187, \'known_for_department\': \'Acting\', \'name\': \'Lou Martini Jr.\', \'original_name\': \'Lou Martini Jr.\', \'popularity\': 1.631, \'profile_path\': \'/85s5KR0BA6dhMJtOrvtKGY8Bz8E.jpg\', \'cast_id\': 91, \'character\': \'Boy at Wedding (uncredited)\', \'credit_id\': \'55f1b6c39251416701002141\', \'order\': 47}, {\'adult\': False, \'gender\': 2, \'id\': 100503, \'known_for_department\': \'Acting\', \'name\': \'Raymond Martino\', \'original_name\': \'Raymond Martino\', \'popularity\': 1.135, \'profile_path\': None, \'cast_id\': 92, \'character\': \'Corleone Family Member (uncredited)\', \'credit_id\': \'55f1b6e59251416711002257\', \'order\': 48}, {\'adult\': False, \'gender\': 2, \'id\': 1503035, \'known_for_department\': \'Acting\', \'name\': \'Joseph Medaglia\', \'original_name\': \'Joseph Medaglia\', \'popularity\': 1.667, \'profile_path\': None, \'cast_id\': 93, \'character\': \'Priest at Baptism (uncredited)\', \'credit_id\': \'55f1b73dc3a3685eb80005f7\', \'order\': 49}, {\'adult\': False, \'gender\': 0, \'id\': 1290895, \'known_for_department\': \'Acting\', \'name\': \'Rick Petrucelli\', \'original_name\': \'Rick Petrucelli\', \'popularity\': 1.597, \'profile_path\': None, \'cast_id\': 94, \'character\': \'Man in Passenger Seat (uncredited)\', \'credit_id\': \'55f1b769925141671400218e\', \'order\': 50}, {\'adult\': False, \'gender\': 0, \'id\': 1237372, \'known_for_department\': \'Acting\', \'name\': \'Sal Richards\', \'original_name\': \'Sal Richards\', \'popularity\': 1.16, \'profile_path\': \'/gZSiZOtBVv1U4hqjlKkPr2p5rCP.jpg\', \'cast_id\': 95, \'character\': \'Drunk (uncredited)\', \'credit_id\': \'55f1b7c29251410d6d000acb\', \'order\': 51}, {\'adult\': False, \'gender\': 2, \'id\': 1213795, \'known_for_department\': \'Acting\', \'name\': \'Tom Rosqui\', \'original_name\': \'Tom Rosqui\', \'popularity\': 3.503, \'profile_path\': None, \'cast_id\': 96, \'character\': \'Rocco Lampone (uncredited)\', \'credit_id\': \'55f1b7e2925141670d00243a\', \'order\': 52}, {\'adult\': False, \'gender\': 2, \'id\': 11480, \'known_for_department\': \'Acting\', \'name\': \'Frank Sivero\', \'original_name\': \'Frank Sivero\', \'popularity\': 4.499, \'profile_path\': \'/eqvhj0iNtcsN6EJhd21Goqi1DSq.jpg\', \'cast_id\': 97, \'character\': \'Street Extra (uncredited)\', \'credit_id\': \'55f1b81092514167140021b1\', \'order\': 53}, {\'adult\': False, \'gender\': 0, \'id\': 1209678, \'known_for_department\': \'Acting\', \'name\': \'Filomena Spagnuolo\', \'original_name\': \'Filomena Spagnuolo\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 98, \'character\': \'Extra in Wedding Scene (uncredited)\', \'credit_id\': \'55f1b83592514167140021c1\', \'order\': 54}, {\'adult\': False, \'gender\': 2, \'id\': 78336, \'known_for_department\': \'Directing\', \'name\': \'Nick Vallelonga\', \'original_name\': \'Nick Vallelonga\', \'popularity\': 8.561, \'profile_path\': \'/h0GwAHN1J5lDysqgWxMIg66LNBW.jpg\', \'cast_id\': 100, \'character\': \'Wedding Party Guest (uncredited)\', \'credit_id\': \'55f1b89b9251410d6d000af0\', \'order\': 55}, {\'adult\': False, \'gender\': 2, \'id\': 16525, \'known_for_department\': \'Acting\', \'name\': \'Joe Spinell\', \'original_name\': \'Joe Spinell\', \'popularity\': 4.913, \'profile_path\': \'/rdDEi8SJSx9OwVJQaHNa3VfZBRM.jpg\', \'cast_id\': 99, \'character\': "William \'Willie\' Cicci (uncredited)", \'credit_id\': \'55f1b85d925141670500228d\', \'order\': 56}, {\'adult\': False, \'gender\': 2, \'id\': 1234848, \'known_for_department\': \'Acting\', \'name\': \'Conrad Yama\', \'original_name\': \'Conrad Yama\', \'popularity\': 1.287, \'profile_path\': None, \'cast_id\': 101, \'character\

In [40]:
def convert_cast(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [41]:
movies['Cast'] = movies['Cast'].apply(convert_cast)
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[Marlon Brando, Al Pacino, James Caan]","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[Tim Robbins, Morgan Freeman, Bob Gunton]","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[Al Pacino, Robert Duvall, Diane Keaton]","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[Shah Rukh Khan, Kajol, Amrish Puri]","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[Liam Neeson, Ben Kingsley, Ralph Fiennes]","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [42]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [44]:
movies['Crew'] = movies['Crew'].apply(fetch_director)

In [45]:
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[Marlon Brando, Al Pacino, James Caan]",[Francis Ford Coppola]
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[Tim Robbins, Morgan Freeman, Bob Gunton]",[Frank Darabont]
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[Al Pacino, Robert Duvall, Diane Keaton]",[Francis Ford Coppola]
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[Shah Rukh Khan, Kajol, Amrish Puri]",[Aditya Chopra]
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[Liam Neeson, Ben Kingsley, Ralph Fiennes]",[Steven Spielberg]

In [46]:
movies.iloc[0]['overview']

'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.'

In [47]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(4)

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
728,9421,The Dinner Game,"[For, Pierre, Brochant, and, his, friends,, We...",[Comedy],"[fool, tax inspector]","[Thierry Lhermitte, Jacques Villeret, Francis ...",[Francis Veber]
8395,184345,A Haunted House 2,"[After, exorcising, the, demons, of, his, ex-,...","[Comedy, Horror]","[exorcism, haunted house, evil doll, parody, p...","[Marlon Wayans, Jaime Pressly, Essence Atkins]",[Michael Tiddes]
3829,10839,Cross of Iron,"[It, is, 1943,, and, the, German, army—ravaged...","[Drama, Action, History, War]","[world war ii, troops, battle for power, hosti...","[James Coburn, Maximilian Schell, James Mason]",[Sam Peckinpah]
5206,1389,Out of Sight,"[Meet, Jack, Foley,, a, smooth, criminal, who,...","[Romance, Comedy, Crime]","[journalist, bedroom, purse, trunk, prison esc...","[George Clooney, Jennifer Lopez, Ving Rhames]",[Steven Soderbergh]

In [48]:
movies.iloc[0]['overview']

['Spanning',
 'the',
 'years',
 '1945',
 'to',
 '1955,',
 'a',
 'chronicle',
 'of',
 'the',
 'fictional',
 'Italian-American',
 'Corleone',
 'crime',
 'family.',
 'When',
 'organized',
 'crime',
 'family',
 'patriarch,',
 'Vito',
 'Corleone',
 'barely',
 'survives',
 'an',
 'attempt',
 'on',
 'his',
 'life,',
 'his',
 'youngest',
 'son,',
 'Michael',
 'steps',
 'in',
 'to',
 'take',
 'care',
 'of',
 'the',
 'would-be',
 'killers,',
 'launching',
 'a',
 'campaign',
 'of',
 'bloody',
 'revenge.']

In [49]:
def remove_space(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [51]:
movies['Cast'] = movies['Cast'].apply(remove_space)
movies['Crew'] = movies['Crew'].apply(remove_space)
movies['Genres'] = movies['Genres'].apply(remove_space)
movies['Keywords'] = movies['Keywords'].apply(remove_space)

In [52]:
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[Drama, Crime]","[italy, lossoflovedone, loveatfirstsight, base...","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola]
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[Drama, Crime]","[prison, corruption, policebrutality, basedonn...","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont]
2,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,...","[Drama, Crime]","[italy, italianamerican, cuba, symbolism, gang...","[AlPacino, RobertDuvall, DianeKeaton]",[FrancisFordCoppola]
3,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...","[Comedy, Drama, Romance]",[],"[ShahRukhKhan, Kajol, AmrishPuri]",[AdityaChopra]
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...","[Drama, History, War]","[basedonnovelorbook, factory, concentrationcam...","[LiamNeeson, BenKingsley, RalphFiennes]",[StevenSpielberg]

In [53]:
movies['tags'] = movies['overview'] + movies['Genres'] + movies['Keywords'] + movies['Cast'] + movies['Crew']

In [54]:
movies.head()

,Movie_id_x,title,overview,Genres,Keywords,Cast,Crew,tags
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[Drama, Crime]","[italy, lossoflovedone, loveatfirstsight, base...","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola],"[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[Drama, Crime]","[prison, corruption, policebrutality, basedonn...","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont],"[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,...","[Drama, Crime]","[italy, italianamerican, cuba, symbolism, gang...","[AlPacino, RobertDuvall, DianeKeaton]",[FrancisFordCoppola],"[In, the, continuing, saga, of, the, Corleone,..."
3,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...","[Comedy, Drama, Romance]",[],"[ShahRukhKhan, Kajol, AmrishPuri]",[AdityaChopra],"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...","[Drama, History, War]","[basedonnovelorbook, factory, concentrationcam...","[LiamNeeson, BenKingsley, RalphFiennes]",[StevenSpielberg],"[The, true, story, of, how, businessman, Oskar..."

In [55]:
movies.iloc[0]['tags']

['Spanning',
 'the',
 'years',
 '1945',
 'to',
 '1955,',
 'a',
 'chronicle',
 'of',
 'the',
 'fictional',
 'Italian-American',
 'Corleone',
 'crime',
 'family.',
 'When',
 'organized',
 'crime',
 'family',
 'patriarch,',
 'Vito',
 'Corleone',
 'barely',
 'survives',
 'an',
 'attempt',
 'on',
 'his',
 'life,',
 'his',
 'youngest',
 'son,',
 'Michael',
 'steps',
 'in',
 'to',
 'take',
 'care',
 'of',
 'the',
 'would-be',
 'killers,',
 'launching',
 'a',
 'campaign',
 'of',
 'bloody',
 'revenge.',
 'Drama',
 'Crime',
 'italy',
 'lossoflovedone',
 'loveatfirstsight',
 'basedonnovelorbook',
 'europe',
 'symbolism',
 'patriarch',
 'organizedcrime',
 'mafia',
 'lawyer',
 'religion',
 'revengemotive',
 'crimefamily',
 'sicilianmafia',
 'religioushypocrisy',
 'gunviolence',
 'risetopower',
 'deadhorse',
 'gangviolence',
 '1940s',
 '1950s',
 'mafiawar',
 'partoftrilogy',
 'MarlonBrando',
 'AlPacino',
 'JamesCaan',
 'FrancisFordCoppola']

In [56]:
new_df = movies[['Movie_id_x','title','tags']]

In [57]:
new_df.head()

,Movie_id_x,title,tags
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,..."
3,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar..."

In [58]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\shilp\AppData\Local\Temp\ipykernel_12624\1955922539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,Movie_id_x,title,tags
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...

In [59]:
new_df.iloc[0]['tags']

'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge. Drama Crime italy lossoflovedone loveatfirstsight basedonnovelorbook europe symbolism patriarch organizedcrime mafia lawyer religion revengemotive crimefamily sicilianmafia religioushypocrisy gunviolence risetopower deadhorse gangviolence 1940s 1950s mafiawar partoftrilogy MarlonBrando AlPacino JamesCaan FrancisFordCoppola'

In [60]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\shilp\AppData\Local\Temp\ipykernel_12624\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [61]:
new_df.head()

,Movie_id_x,title,tags
0,238,The Godfather,"spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,in the continuing saga of the corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,the true story of how businessman oskar schind...

In [62]:
new_df.iloc[0]['tags']

'spanning the years 1945 to 1955, a chronicle of the fictional italian-american corleone crime family. when organized crime family patriarch, vito corleone barely survives an attempt on his life, his youngest son, michael steps in to take care of the would-be killers, launching a campaign of bloody revenge. drama crime italy lossoflovedone loveatfirstsight basedonnovelorbook europe symbolism patriarch organizedcrime mafia lawyer religion revengemotive crimefamily sicilianmafia religioushypocrisy gunviolence risetopower deadhorse gangviolence 1940s 1950s mafiawar partoftrilogy marlonbrando alpacino jamescaan francisfordcoppola'

In [63]:
import nltk
from nltk.stem import PorterStemmer

In [64]:
ps = PorterStemmer()

In [65]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [66]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\shilp\AppData\Local\Temp\ipykernel_12624\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [67]:
new_df.iloc[0]['tags']

'span the year 1945 to 1955, a chronicl of the fiction italian-american corleon crime family. when organ crime famili patriarch, vito corleon bare surviv an attempt on hi life, hi youngest son, michael step in to take care of the would-b killers, launch a campaign of bloodi revenge. drama crime itali lossoflovedon loveatfirstsight basedonnovelorbook europ symbol patriarch organizedcrim mafia lawyer religion revengemot crimefamili sicilianmafia religioushypocrisi gunviol risetopow deadhors gangviol 1940 1950 mafiawar partoftrilog marlonbrando alpacino jamescaan francisfordcoppola'

In [68]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [69]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [70]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [71]:
vector.shape

(10704, 5000)

In [72]:
from sklearn.metrics.pairwise import cosine_similarity

In [73]:
similarity = cosine_similarity(vector)

In [74]:
similarity

array([[1.        , 0.24759378, 0.3939193 , ..., 0.13295815, 0.08808303,
        0.08808303],
       [0.24759378, 1.        , 0.07856742, ..., 0.23866719, 0.02635231,
        0.02635231],
       [0.3939193 , 0.07856742, 1.        , ..., 0.        , 0.0745356 ,
        0.0745356 ],
       ...,
       [0.13295815, 0.23866719, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.08808303, 0.02635231, 0.0745356 , ..., 0.        , 1.        ,
        0.95      ],
       [0.08808303, 0.02635231, 0.0745356 , ..., 0.        , 0.95      ,
        1.        ]])

In [75]:
similarity.shape

(10704, 10704)

In [76]:
new_df[new_df['title']== 'Spider-Man'].index[0]

2461

In [77]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:8]:
        print(new_df.iloc[i[0]].title)

In [78]:
recommend('The Dark Knight Rises')

The Batman
Batman: The Long Halloween, Part One
Batman: Hush
The Dark Knight
Batman: The Long Halloween, Part Two
Death Wish 3
Batman: Mask of the Phantasm

In [79]:
import pickle

In [81]:
pickle.dump(new_df,open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity,open('artifacts/similarity.pkl','wb'))